@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", serif;
}
.LFood {
  animation: fMove 1s linear;
}
@keyframes fMove {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
.LShopping {
  animation: sMove 1s linear;
}
@keyframes sMove {
  0% {
    width: 0;
  }
  100% {
    width: 110px;
  }
}
.LHousing {
  animation: hMove 1s linear;
}
@keyframes hMove {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}
.LTransportation {
  animation: tMove 1s linear;
}
@keyframes tMove {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}
.LVehicle {
  animation: vMove 1s linear;
}
@keyframes vMove {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}
.css-1qdzy9k-MuiBarElement-root {
  fill: #157aff3e !important;
}
.css-yrgrvu {
  fill: #157aff3e !important;
}
.css-1qdzy9k-MuiBarElement-root:hover {
  fill: #157aff !important;
}
